/Fruit.class
/Controller.class
/example.class
/example$Fruit.class
/example$GamePanel.class
/Controller$GamePanel.class
/Bomb.class
/Player.class
/SliceItController.class

/SliceItController$1.class
/SliceItController$2.class
/SliceItController$3.class
/SliceItController$4.class
/SliceItController$3$1.class
